<footer class="site-footer">
  <div class="inner">
    <p>&copy; {{ now | date("yyyy") }} {{ site.author }}. All rights reserved.</p>
    <ul class="social-links">
      <li><a href="https://twitter.com/{{ site.twitter_username }}" aria-label="Twitter">Twitter</a></li>
      <li><a href="https://github.com/{{ site.github_username }}" aria-label="GitHub">GitHub</a></li>
    </ul>
  </div>
</footer>
